################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/TrabalhoGrafosM1/obj/
/TrabalhoGrafosM1/bin/